# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
*.gz

# IDE
.idea/
*.iml

# OS
.DS_Store

# Enviromnent variables
.env

# Remove me
apps/api/src/main/resources/db/migration/checkme.md
apps/auth/architecture.md
